Build
Build/*
*.asv
*.png
*.pdf
src/Nano17/*
src/Nano17
src/MATLAB_CurveFit/NeedleSimulationsParticleFilter/ctests/data
src/MATLAB_CurveFit/NeedleSimulationsParticleFilter/ctests/data/*
src/Vine/HW/Winch/Code/Control/Debug/*
src/Vine/HW/Winch/Code/Control/Release/*
src/Vine/HW/Winch/Code/Control/__vm/*
*.DS_Store
._*
*~*
IndividualDefines.h
!data/solidworks/meat_vice/*pdf
!src/Vine/**/*pdf
src/Vine/**/._*pdf